<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>{{name}}</title>
<link rel="stylesheet" href="resources/bootstrap.min.css">
<link rel="stylesheet" href="resources/github.min.css">
<link rel="stylesheet" href="resources/documentation.css">
</head>

<body>

<div class="wrap">

    <div class="method scope-{{#if isPrivate}}private{{else}}public{{/if}}">

        <h2 id="{{uid}}">
            <span class="method-name" title="{{name}}({{params}})">{{name}}({{params}})</span>
            {{#if isPrivate}}
            <small class="scope-private">private {{type}}</small>
            {{/if}}
        </h2>

        <div class="description lead">

            {{{markdown description}}}

        </div>

        {{#if tags.param.length}}

        <section class="parameters">

            <h3>Parameters</h3>

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {{#each tags.param}}
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            {{#each types}}
                            <code>{{.}}</code>
                            {{/each}}
                        </td>
                        <td>{{{markdown description}}}</td>
                        <td>
                            {{#if isOptional}}
                                <span class="tag tag-default">Optional</span>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>

                </table>
            </div>

        </section>

        {{/if}}

        {{#if tags.property.length}}

        <section class="property">

            <h3>Properties</h3>

            <div class="table-responsive">
                <table class="table">

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    {{#each tags.property}}
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            {{#each types}}
                            <code>{{.}}</code>
                            {{/each}}
                        </td>
                        <td>{{{markdown description}}}</td>
                        <td>
                            {{#if isOptional}}
                                <span class="tag tag-default">Optional</span>
                            {{/if}}
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>

                </table>
            </div>

        </section>

        {{/if}}

        {{#if tags.example.length}}

        <section class="examples">

            <h3>Examples</h3>

            {{#each tags.example}}

                <pre><code class="hljs javascript">{{{highlightBlock .}}}</code></pre>

            {{/each}}

        </section>

        {{/if}}

        <section class="returns">

            <h3>Returns</h3>

            {{#if tags.return.length}}

                {{#each tags.return}}

                    <p>
                        {{#each types}}
                            <code>{{.}}</code>
                        {{/each}}
                    </p>

                    {{{markdown description}}}

                {{/each}}

            {{else}}

            <p><code>Void</code></p>

            {{/if}}

        </section>

    </div>

</div>

<footer class="bs-footer">

    <div class="container">

        <p>Documentation generated with <a href="https://github.com/neogeek/doxdox">doxdox</a>.</p>

    </div>

</footer>

</body>
</html>
